.headers
	h1#header William Han
	
.container2
	.container1
		.col1
			:markdown-it(html=true)
				#### [http://www.copperstick6.com](http://www.copperstick6.com)
		.col2
			:markdown-it(html=true)
				#### [https://www.linkedin.com/in/copperstick6/](https://www.linkedin.com/in/copperstick6/) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Github: Copperstick6](https://github.com/copperstick6)
.education
	:markdown-it(html=true)
		### Education
		---
		
	

style
	include:scss resume.scss
