.headers
	h1 William Han  
	hr
	p william.han.7244@gmail.com&emsp;&emsp; (817)-235-5763
	p http://www.copperstick6.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;https://www.linkedin.com/in/copperstick6/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Github: Copperstick6

.education
	hr
	
.education
	:markdown-it(html=true)
		## Education

.container2
	.container1
		.eduCol1
			:markdown-it(html=true)
				**The University of Texas at Austin**  
				*Bachelor of Science, Computer Science, Business Minor*  
				GPA: 3.68
		.eduCol2
			:markdown-it(html=true)
				**May 2019**
.education
	p Relevant Coursework: Algorithms, Cloud Computing, Software Engineering, Operating Systems, Compilers, Computer Architecture, Data Structures, Discrete Math
	p Upcoming Coursework: Network Security & Privacy, Networks, Data Mining
	hr

.education
	:markdown-it(html=true)
		## Experience



style
	include:scss resume.scss
